<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angular Intro</title>
    <!-- Add Angular CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
    <div ng-init="myVar='Sean Dove'">{{ myVar }}</div>
    <div ng-init="carArray=['Toyota', 'Honda', 'Ford', 'Chevy']">
        <ul>
            <li ng-repeat="names in carArray">{{ names }}</li>
        </ul>
    </div>
    <div>
        <input  type="text" ng-model="myInput">
        <p>{{ myInput }}</p>
    </div>
</body>
</html>
